/* logo.css */

/* Updated logo.css */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .logo-img {
    width: 40px; /* Adjust as needed */
    height: auto;
  }
  
  .logo-text {
    font-family: 'Raleway', sans-serif;
    font-size: 36px; /* Adjust as needed */
    font-weight: 700;
    color: #333; /* Adjust color as needed */
    margin: 0;
    text-transform: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  
  
  @keyframes neon-flicker {
    0%, 19%, 21%, 22%, 30%, 50%, 100% {
      opacity: 1;
    }
    20%, 31%, 32%, 49% {
      opacity: 0.7;
    }
  }
  